<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surveytest.example.mapper.SurveyMapper">

	<!-- 새 설문지 작성 -->
	<insert id="surveyWrite" parameterType="Survey">
		INSERT INTO st_survey(
			s_title,
			s_desc
		) VALUES (
			'',
			''
		)
		<selectKey resultType="int" keyProperty="sId" order="AFTER">
        	SELECT LAST_INSERT_ID()
    	</selectKey>   
	</insert>
	
	<!-- 설문지 목록 -->
	<select id="surveyList" resultType="Survey">
	
		SELECT		ROW_NUMBER() OVER(ORDER BY s_id) as rownum,
					s_id	as	sId,
					s_title as	title
		FROM		st_survey					
	</select>
	
	<!-- 설문지 정보 -->
	<select id="surveyRow" parameterType="Survey" resultType="Survey">
		SELECT		s_id			as	sId,
					s_title			as	title,
					s_desc			as	sDesc
		FROM		st_survey
		WHERE		s_id = #{sId}
		
	</select>
	
	<!-- 질문 추가 -->
	<insert id="addQuestion" parameterType="Survey">
		INSERT INTO st_question(
			q_type,
			q_value,
			s_id
		) VALUES (
			'1',
			'',
			#{sId}
		)
	</insert>
	
	<!-- 질문 목록 -->
	<select id="listQuetion" parameterType="Survey" resultType="Question">
		SELECT		q_id			as	qId,
					q_type			as	type,
					q_value			as	qValue
		FROM		st_question
		WHERE		s_id = #{sId}
	</select>
	
	<!-- 질문 삭제 -->
	<delete id="delQuestion" parameterType="Question">
		DELETE FROM st_question
		WHERE	q_id = ${qId}
	</delete>
	
	<!-- 옵션 목록 -->
	<select id="listItem" parameterType="Question" resultType="Item">
		SELECT		ROW_NUMBER() OVER(ORDER BY i_id) as rownum,
					i_id			as	iId,
					i_value			as	iValue,
					q_id			as	qId
		FROM		st_item
		WHERE		q_id = #{qId}
	</select>
	
	<!-- 옵션 추가 -->
	<insert id="addItem" parameterType="Question">
		INSERT INTO st_item(
			i_value,
			q_id
		) VALUES (
			'',
			#{qId}
		)
	</insert>
	
	<!-- 옵션 삭제 -->
	<delete id="delItem" parameterType="Item">
		DELETE FROM st_item
		WHERE	i_id = ${iId}
	</delete>
	
	<!-- 해당 질문 옵션 전체 삭제 -->
	<delete id="delItemInQuestion" parameterType="Question">
		DELETE FROM st_item
		WHERE	q_id = ${qId}
	</delete>
	
	<!-- 설문 수정 -->
	<update id="editSurvey" parameterType="Survey">
		UPDATE	st_survey
		SET		s_title = #{title},
				s_desc = #{sDesc}
		WHERE	s_id = #{sId}		
	</update>
	
	<!-- 질문 수정 -->
	<update id="editQuestion" parameterType="java.util.List">
		<foreach collection="list" item="question" index="i" separator=";">
			UPDATE	st_question
			SET		q_type = #{question.type},
					q_value = #{question.qValue}
			WHERE	q_id = #{question.qId}
		</foreach>
	</update>
	
	<!-- 옵션 수정 -->
	<update id="editItem" parameterType="java.util.List">
		<foreach collection="list" item="item" index="i" separator=";">
			UPDATE	st_item
			SET		i_value = #{item.iValue}
			WHERE	i_id = #{item.iId}	
		</foreach>
	</update>
</mapper>